# Mini-Project 1: Analyzing Baby Name Trends

In [220]:
import psycopg2

passward = input("Enter passward: ")

dsn = "dbname=sql_mini_project1 host=localhost user=postgres password=" + passward
conn = psycopg2.connect(dsn)
cur = conn.cursor()

## Task1

In [221]:
cur.execute(
    "SELECT first_name, SUM(num) "
    "FROM usa_baby_names "
    "GROUP BY first_name "
    "ORDER BY SUM(num) DESC"
    )

cur.fetchall()

[('James', 4748138),
 ('John', 4510721),
 ('Robert', 4495199),
 ('Michael', 4278824),
 ('William', 3614424),
 ('David', 3571498),
 ('Mary', 3215850),
 ('Richard', 2414838),
 ('Joseph', 2361382),
 ('Thomas', 2166802),
 ('Charles', 2112352),
 ('Christopher', 2012792),
 ('Daniel', 1824274),
 ('Matthew', 1567204),
 ('Patricia', 1479802),
 ('Elizabeth', 1436286),
 ('Jennifer', 1404743),
 ('Linda', 1361021),
 ('Anthony', 1344352),
 ('Barbara', 1343901),
 ('Donald', 1280236),
 ('Mark', 1265910),
 ('Paul', 1218996),
 ('Steven', 1216819),
 ('Joshua', 1204236),
 ('Andrew', 1157548),
 ('Kenneth', 1153846),
 ('Kevin', 1140092),
 ('Brian', 1107302),
 ('George', 1032513),
 ('Susan', 1025728),
 ('Edward', 1013143),
 ('Timothy', 1001771),
 ('Jason', 998257),
 ('Jessica', 994210),
 ('Ronald', 974343),
 ('Ryan', 926995),
 ('Lisa', 920119),
 ('Jeffrey', 907378),
 ('Betty', 893396),
 ('Karen', 892033),
 ('Jacob', 888209),
 ('Nancy', 854761),
 ('Gary', 817491),
 ('Margaret', 806838),
 ('Ashley', 798738),
 ('Eric', 797880),
 ('Dorothy', 791084),
 ('Sandra', 783878),
 ('Sarah', 777519),
 ('Nicholas', 777269),
 ('Jonathan', 772846),
 ('Kimberly', 767543),
 ('Donna', 762594),
 ('Stephen', 753958),
 ('Emily', 750420),
 ('Carol', 740607),
 ('Michelle', 736097),
 ('Justin', 729931),
 ('Brandon', 729832),
 ('Scott', 704468),
 ('Larry', 700521),
 ('Amanda', 699911),
 ('Deborah', 675049),
 ('Melissa', 666250),
 ('Stephanie', 651976),
 ('Sharon', 647989),
 ('Gregory', 644286),
 ('Rebecca', 638458),
 ('Benjamin', 627696),
 ('Shirley', 615887),
 ('Frank', 596887),
 ('Laura', 587161),
 ('Alexander', 579854),
 ('Cynthia', 577859),
 ('Helen', 569998),
 ('Amy', 569542),
 ('Patrick', 559661),
 ('Jack', 552411),
 ('Tyler', 548624),
 ('Raymond', 541922),
 ('Angela', 541553),
 ('Samuel', 539556),
 ('Nicole', 533803),
 ('Aaron', 530592),
 ('Pamela', 524481),
 ('Kathleen', 516918),
 ('Samantha', 514826),
 ('Brenda', 513283),
 ('Debra', 508230),
 ('Adam', 497293),
 ('Jerry', 494469),
 ('Nathan', 493746),
 ('Dennis', 492221),
 ('Zachary', 483955),
 ('Ruth', 475908),
 ('Heather', 468165),
 ('Christine', 465653),
 ('Diane', 453135),
 ('Emma', 448087),
 ('Anna', 445496),
 ('Janet', 444842),
 ('Virginia', 441418),
 ('Carolyn', 438382),
 ('Joyce', 436267),
 ('Jose', 434805),
 ('Rachel', 434626),
 ('Henry', 429656),
 ('Olivia', 429118),
 ('Jordan', 426912),
 ('Douglas', 426439),
 ('Maria', 417502),
 ('Kelly', 417352),
 ('Katherine', 413349),
 ('Joan', 413286),
 ('Julie', 411989),
 ('Ethan', 408918),
 ('Lauren', 401513),
 ('Kyle', 394877),
 ('Cheryl', 392691),
 ('Hannah', 392284),
 ('Noah', 389490),
 ('Peter', 388795),
 ('Megan', 384668),
 ('Walter', 378194),
 ('Madison', 378127),
 ('Judith', 377449),
 ('Sean', 372082),
 ('Harold', 368463),
 ('Christina', 366859),
 ('Jeremy', 366271),
 ('Austin', 365295),
 ('Jean', 363812),
 ('Dylan', 360776),
 ('Martha', 359762),
 ('Christian', 357457),
 ('Frances', 348520),
 ('Victoria', 347794),
 ('Terry', 346213),
 ('Catherine', 345852),
 ('Abigail', 338485),
 ('Isabella', 336924),
 ('Ann', 336091),
 ('Doris', 336062),
 ('Carl', 334800),
 ('Gloria', 331698),
 ('Judy', 329356),
 ('Janice', 328335),
 ('Gerald', 327545),
 ('Brittany', 326255),
 ('Taylor', 323699),
 ('Andrea', 321655),
 ('Sophia', 318523),
 ('Logan', 316927),
 ('Roger', 314531),
 ('Bryan', 314250),
 ('Keith', 313978),
 ('Amber', 313418),
 ('Evelyn', 310824),
 ('Beverly', 310683),
 ('Arthur', 309705),
 ('Lawrence', 307238),
 ('Joe', 302127),
 ('Danielle', 299683),
 ('Teresa', 298059),
 ('Tammy', 296905),
 ('Alice', 296559),
 ('Kayla', 294192),
 ('Lori', 289439),
 ('Marilyn', 286722),
 ('Denise', 285039),
 ('Tiffany', 283969),
 ('Alexis', 282149),
 ('Elijah', 277457),
 ('Willie', 274564),
 ('Ralph', 273663),
 ('Billy', 270759),
 ('Gabriel', 270207),
 ('Kathy', 269922),
 ('Alyssa', 269134),
 ('Natalie', 266634),
 ('Bruce', 266549),
 ('Ava', 265126),
 ('Mason', 263609),
 ('Albert', 260945),
 ('Caleb', 259439),
 ('Grace', 254573),
 ('Cameron', 253711),
 ('Phyllis', 251517),
 ('Marie', 249462),
 ('Rose', 248527),
 ('Crystal', 239999),
 ('Erin', 239718),
 ('Eugene', 239512),
 ('Shannon', 231132),
 ('Roy', 227920),
 ('Tina', 227252),
 ('Sara', 226696),
 ('Cody', 225952),
 ('Dawn', 225877),
 ('Theresa', 225262),
 ('Jacqueline', 223092),
 ('Lois', 220781),
 ('Peggy', 220586),
 ('Hunter', 220439),
 ('Jackson', 219588),
 ('Travis', 218731),
 ('Aiden', 216194),
 ('Mia', 216167),
 ('Shawn', 215326),
 ('Randy', 215094),
 ('Allison', 214995),
 ('Liam', 213059),
 ('Jayden', 213005),
 ('Wayne', 211347),
 ('Robin', 210806),
 ('Brianna', 210328),
 ('Isaac', 209563),
 ('Luke', 207795),
 ('Todd', 207137),
 ('Kathryn', 204173),
 ('Bobby', 203289),
 ('Evan', 203165),
 ('Connor', 203106),
 ('Courtney', 202829),
 ('Isaiah', 200116),
 ('Tracy', 199320),
 ('Paula', 196090),
 ('Mildred', 195666),
 ('Jane', 195627),
 ('Bonnie', 193352),
 ('Jasmine', 192464),
 ('Lucas', 191033),
 ('Craig', 190323),
 ('Juan', 189094),
 ('Chloe', 187720),
 ('Lillian', 185120),
 ('Jesse', 183645),
 ('Harry', 182312),
 ('Connie', 179476),
 ('Chad', 177923),
 ('Sherry', 173913),
 ('Diana', 172195),
 ('Fred', 170837),
 ('Alexandra', 167122),
 ('Alan', 162041),
 ('Danny', 161078),
 ('Cindy', 161070),
 ('Wendy', 159446),
 ('Ian', 159100),
 ('Alex', 158677),
 ('Rhonda', 157706),
 ('Angel', 157667),
 ('Jamie', 157417),
 ('Morgan', 157320),
 ('Howard', 157144),
 ('Erica', 156158),
 ('Sheila', 154361),
 ('Ella', 154079),
 ('Owen', 151569),
 ('Adrian', 147741),
 ('Bradley', 147275),
 ('Norma', 144522),
 ('Luis', 144176),
 ('Kim', 143648),
 ('Charlotte', 141540),
 ('Carter', 141274),
 ('Michele', 139690),
 ('Debbie', 138846),
 ('Johnny', 138737),
 ('April', 138714),
 ('Dustin', 138651),
 ('Jared', 137848),
 ('Julian', 137742),
 ('Jimmy', 135558),
 ('Savannah', 134405),
 ('Jeffery', 131241),
 ('Dale', 130919),
 ('Gavin', 130460),
 ('Sebastian', 130244),
 ('Landon', 129558),
 ('Russell', 128647),
 ('Wyatt', 128168),
 ('Kristen', 127223),
 ('Rita', 125877),
 ('Rodney', 125500),
 ('Wanda', 125458),
 ('Kaitlyn', 121541),
 ('Jill', 120405),
 ('Eleanor', 119863),
 ('Vanessa', 119596),
 ('Ricky', 119547),
 ('Cathy', 119020),
 ('Gail', 118334),
 ('Carlos', 118325),
 ('Sydney', 117279),
 ('Sofia', 117208),
 ('Louis', 115731),
 ('Lily', 115354),
 ('Steve', 114750),
 ('Marjorie', 114386),
 ('Julia', 112397),
 ('Avery', 112293),
 ('Hailey', 111571),
 ('Monica', 111143),
 ('Brooke', 110847),
 ('Irene', 110116),
 ('Suzanne', 109387),
 ('Tara', 107987),
 ('Oliver', 107511),
 ('Addison', 107433),
 ('Louise', 106456),
 ('Amelia', 106381),
 ('Haley', 106119),
 ('Derek', 105026),
 ('Jeremiah', 104792),
 ('Nathaniel', 103671),
 ('Dolores', 101453),
 ('Chelsea', 100857),
 ('Destiny', 100465),
 ('Philip', 100415),
 ('Elaine', 100359),
 ('Florence', 99171),
 ('Mike', 97902),
 ('Chase', 97684),
 ('Katie', 97378),
 ('Lynn', 97059),
 ('Tony', 96417),
 ('Annie', 95837),
 ('Kelsey', 95434),
 ('Stanley', 95152),
 ('Vicki', 94504),
 ('Glenn', 94437),
 ('Brayden', 93754),
 ('Ruby', 93528),
 ('Levi', 91814),
 ('Darlene', 89561),
 ('Randall', 89055),
 ('Lindsey', 88669),
 ('Laurie', 87568),
 ('Stacy', 86835),
 ('Phillip', 86811),
 ('Harper', 86554),
 ('Barry', 85434),
 ('Alicia', 84579),
 ('Jo', 84238),
 ('Ellen', 82403),
 ('Jesus', 82359),
 ('Troy', 82294),
 ('Kristin', 81495),
 ('Terri', 80961),
 ('Zoe', 78773),
 ('Carrie', 77899),
 ('Gladys', 77627),
 ('Joanne', 77323),
 ('Clarence', 77134),
 ('Trevor', 76138),
 ('Eli', 74938),
 ('Layla', 74474),
 ('Earl', 74214),
 ('Thelma', 74017),
 ('Josiah', 74001),
 ('Riley', 73607),
 ('Leslie', 73075),
 ('Cole', 72461),
 ('Aubrey', 72220),
 ('Corey', 70531),
 ('Devin', 70280),
 ('Anne', 70228),
 ('Zoey', 70140),
 ('Valerie', 70039),
 ('Josephine', 69222),
 ('Lindsay', 69178),
 ('Aidan', 68566),
 ('Shelby', 68474),
 ('Stacey', 67483),
 ('Dominic', 67420),
 ('Jaxon', 66542),
 ('Hazel', 66103),
 ('Kaylee', 65209),
 ('Katelyn', 65023),
 ('Pauline', 64073),
 ('Edna', 63698),
 ('Leah', 63600),
 ('Brooklyn', 62260),
 ('Grayson', 61689),
 ('June', 61668),
 ('Jeff', 61390),
 ('Renee', 61185),
 ('Jenna', 60548),
 ('Lucille', 59379),
 ('Francis', 59097),
 ('Colton', 58377),
 ('Tonya', 58234),
 ('Martin', 56023),
 ('Makayla', 55446),
 ('Beth', 55228),
 ('Holly', 54634),
 ('Scarlett', 54329),
 ('Leonard', 54127),
 ('Marcus', 53788),
 ('Edith', 53687),
 ('Ethel', 53359),
 ('Shane', 52869),
 ('Geraldine', 52850),
 ('Herbert', 52341),
 ('Aria', 52145),
 ('Xavier', 51892),
 ('Camila', 51882),
 ('Dana', 51558),
 ('Gabriella', 51486),
 ('Gabrielle', 51144),
 ('Marion', 50545),
 ('Annette', 49954),
 ('Vickie', 49252),
 ('Paige', 48894),
 ('Chris', 48878),
 ('Blake', 48795),
 ('Brandy', 48762),
 ('Audrey', 48341),
 ('Curtis', 48098),
 ('Norman', 47596),
 ('Mackenzie', 46972),
 ('Diego', 46535),
 ('Gina', 46380),
 ('Bernice', 46347),
 ('Ronnie', 45564),
 ('Mateo', 45440),
 ('Anita', 44692),
 ('Melanie', 43995),
 ('Ernest', 43959),
 ('Whitney', 43759),
 ('Penelope', 43409),
 ('Lincoln', 43147),
 ('Hudson', 43048),
 ('Nevaeh', 42926),
 ('Cassandra', 42677),
 ('Sierra', 38980),
 ('Caitlin', 38501),
 ('Asher', 38156),
 ('Nolan', 38147),
 ('Brittney', 37878),
 ('Tim', 36165),
 ('Seth', 35423),
 ('Misty', 34935),
 ('Hayden', 34724),
 ('Dakota', 34334),
 ('Nora', 34285),
 ('Ayden', 34244),
 ('Alexa', 33522),
 ('Leo', 32643),
 ('Cooper', 31011),
 ('Sally', 30713),
 ('Theodore', 29464),
 ('Cory', 29454),
 ('Marissa', 29003),
 ('Mila', 28047),
 ('Esther', 28040),
 ('Beatrice', 27983),
 ('Luna', 27822),
 ('Parker', 27453),
 ('Lorraine', 27338),
 ('Tristan', 27212),
 ('Faith', 27204),
 ('Madeline', 26888),
 ('Ellie', 26266),
 ('Carson', 25598),
 ('Ezra', 24632),
 ('Vincent', 23419),
 ('Jace', 23233),
 ('Tanya', 22407),
 ('Carla', 22276),
 ('Easton', 21820),
 ('Brody', 21815),
 ('Jaden', 21777),
 ('Clara', 21336),
 ('Marsha', 21303),
 ('Carole', 21186),
 ('Juanita', 20758),
 ('Jay', 20682),
 ('Tracey', 16979),
 ('Elias', 16965),
 ('Maverick', 16863),
 ('Bentley', 16844),
 ('Jim', 16588),
 ('Kylie', 16309),
 ('Alfred', 16260),
 ('Gertrude', 16229),
 ('Trinity', 16217),
 ('Brandi', 16199),
 ('Garrett', 15976),
 ('Aaliyah', 15870),
 ('Greg', 15849),
 ('Mariah', 15723),
 ('Marcia', 15571),
 ('Jaime', 13744),
 ('Warren', 13290),
 ('Sabrina', 11589),
 ('Miranda', 11434),
 ('Angelina', 11337),
 ('Sherri', 10819),
 ('Kristina', 10585),
 ('Violet', 10471),
 ('Sue', 10450),
 ('Skylar', 10408),
 ('Marlene', 10368),
 ('Allen', 10256),
 ('Christy', 10235),
 ('Claire', 10225),
 ('Bailey', 10219),
 ('Stella', 10217),
 ('Darryl', 10142),
 ('Penny', 10128),
 ('Antonio', 10097),
 ('Regina', 10003),
 ('Gianna', 7826),
 ('Shaun', 6107),
 ('Krystal', 5935),
 ('Darren', 5935),
 ('Ariana', 5497),
 ('Rick', 5462),
 ('Ashton', 5436),
 ('Ariel', 5410),
 ('Khloe', 5406),
 ('Mitchell', 5370),
 ('Franklin', 5364),
 ('Kristy', 5331),
 ('Peyton', 5315),
 ('Jocelyn', 5292),
 ('Arianna', 5270),
 ('Miles', 5249),
 ('Aurora', 5184),
 ('Bella', 5127),
 ('Colin', 5122),
 ('Paisley', 5085),
 ('Dillon', 5062),
 ('Tom', 5061),
 ('Jaxson', 5061),
 ('Caden', 5052),
 ('Latoya', 5051),
 ('Maya', 5047),
 ('Santiago', 5036),
 ('Alexandria', 5026),
 ('Caroline', 5021),
 ('Ezekiel', 5013),
 ('Marc', 5013),
 ('Briana', 5001)]

## Task2. Timeless or trendy?

In [222]:
cur.execute(
    "SELECT first_name, COUNT(*),"
    "CASE "
        "WHEN COUNT(*) > 80 THEN 'Classic' "
        "WHEN COUNT(*) > 50 THEN 'Semi-classic' "
        "WHEN COUNT(*) > 20 THEN 'Semi-trendy' "
        "ELSE 'Trendy' "
    "END AS popularity_type "
    "FROM usa_baby_names "
    "GROUP BY first_name "
    "ORDER BY first_name"
    )

cur.fetchall()

[('Aaliyah', 3, 'Trendy'),
 ('Aaron', 51, 'Semi-classic'),
 ('Abigail', 28, 'Semi-trendy'),
 ('Adam', 46, 'Semi-trendy'),
 ('Addison', 13, 'Trendy'),
 ('Adrian', 23, 'Semi-trendy'),
 ('Aidan', 8, 'Trendy'),
 ('Aiden', 18, 'Trendy'),
 ('Alan', 21, 'Semi-trendy'),
 ('Albert', 38, 'Semi-trendy'),
 ('Alex', 24, 'Semi-trendy'),
 ('Alexa', 6, 'Trendy'),
 ('Alexander', 37, 'Semi-trendy'),
 ('Alexandra', 21, 'Semi-trendy'),
 ('Alexandria', 1, 'Trendy'),
 ('Alexis', 23, 'Semi-trendy'),
 ('Alfred', 3, 'Trendy'),
 ('Alice', 36, 'Semi-trendy'),
 ('Alicia', 13, 'Trendy'),
 ('Allen', 2, 'Trendy'),
 ('Allison', 33, 'Semi-trendy'),
 ('Alyssa', 26, 'Semi-trendy'),
 ('Amanda', 31, 'Semi-trendy'),
 ('Amber', 26, 'Semi-trendy'),
 ('Amelia', 11, 'Trendy'),
 ('Amy', 35, 'Semi-trendy'),
 ('Andrea', 42, 'Semi-trendy'),
 ('Andrew', 70, 'Semi-classic'),
 ('Angel', 20, 'Trendy'),
 ('Angela', 37, 'Semi-trendy'),
 ('Angelina', 2, 'Trendy'),
 ('Anita', 8, 'Trendy'),
 ('Ann', 47, 'Semi-trendy'),
 ('Anna', 55, 'Semi-classic'),
 ('Anne', 13, 'Trendy'),
 ('Annette', 8, 'Trendy'),
 ('Annie', 15, 'Trendy'),
 ('Anthony', 86, 'Classic'),
 ('Antonio', 2, 'Trendy'),
 ('April', 17, 'Trendy'),
 ('Aria', 8, 'Trendy'),
 ('Ariana', 1, 'Trendy'),
 ('Arianna', 1, 'Trendy'),
 ('Ariel', 1, 'Trendy'),
 ('Arthur', 41, 'Semi-trendy'),
 ('Asher', 6, 'Trendy'),
 ('Ashley', 32, 'Semi-trendy'),
 ('Ashton', 1, 'Trendy'),
 ('Aubrey', 11, 'Trendy'),
 ('Audrey', 9, 'Trendy'),
 ('Aurora', 1, 'Trendy'),
 ('Austin', 30, 'Semi-trendy'),
 ('Ava', 18, 'Trendy'),
 ('Avery', 15, 'Trendy'),
 ('Ayden', 6, 'Trendy'),
 ('Bailey', 2, 'Trendy'),
 ('Barbara', 53, 'Semi-classic'),
 ('Barry', 15, 'Trendy'),
 ('Beatrice', 5, 'Trendy'),
 ('Bella', 1, 'Trendy'),
 ('Benjamin', 48, 'Semi-trendy'),
 ('Bentley', 3, 'Trendy'),
 ('Bernice', 8, 'Trendy'),
 ('Beth', 9, 'Trendy'),
 ('Betty', 42, 'Semi-trendy'),
 ('Beverly', 36, 'Semi-trendy'),
 ('Billy', 39, 'Semi-trendy'),
 ('Blake', 9, 'Trendy'),
 ('Bobby', 34, 'Semi-trendy'),
 ('Bonnie', 24, 'Semi-trendy'),
 ('Bradley', 23, 'Semi-trendy'),
 ('Brandi', 3, 'Trendy'),
 ('Brandon', 43, 'Semi-trendy'),
 ('Brandy', 8, 'Trendy'),
 ('Brayden', 13, 'Trendy'),
 ('Brenda', 34, 'Semi-trendy'),
 ('Brian', 58, 'Semi-classic'),
 ('Briana', 1, 'Trendy'),
 ('Brianna', 22, 'Semi-trendy'),
 ('Brittany', 17, 'Trendy'),
 ('Brittney', 6, 'Trendy'),
 ('Brody', 4, 'Trendy'),
 ('Brooke', 19, 'Trendy'),
 ('Brooklyn', 10, 'Trendy'),
 ('Bruce', 26, 'Semi-trendy'),
 ('Bryan', 47, 'Semi-trendy'),
 ('Caden', 1, 'Trendy'),
 ('Caitlin', 6, 'Trendy'),
 ('Caleb', 29, 'Semi-trendy'),
 ('Cameron', 32, 'Semi-trendy'),
 ('Camila', 8, 'Trendy'),
 ('Carl', 47, 'Semi-trendy'),
 ('Carla', 4, 'Trendy'),
 ('Carlos', 20, 'Trendy'),
 ('Carol', 39, 'Semi-trendy'),
 ('Carole', 3, 'Trendy'),
 ('Caroline', 1, 'Trendy'),
 ('Carolyn', 37, 'Semi-trendy'),
 ('Carrie', 12, 'Trendy'),
 ('Carson', 5, 'Trendy'),
 ('Carter', 17, 'Trendy'),
 ('Cassandra', 7, 'Trendy'),
 ('Catherine', 43, 'Semi-trendy'),
 ('Cathy', 15, 'Trendy'),
 ('Chad', 19, 'Trendy'),
 ('Charles', 101, 'Classic'),
 ('Charlotte', 16, 'Trendy'),
 ('Chase', 17, 'Trendy'),
 ('Chelsea', 10, 'Trendy'),
 ('Cheryl', 29, 'Semi-trendy'),
 ('Chloe', 21, 'Semi-trendy'),
 ('Chris', 8, 'Trendy'),
 ('Christian', 31, 'Semi-trendy'),
 ('Christina', 32, 'Semi-trendy'),
 ('Christine', 45, 'Semi-trendy'),
 ('Christopher', 70, 'Semi-classic'),
 ('Christy', 2, 'Trendy'),
 ('Cindy', 15, 'Trendy'),
 ('Claire', 2, 'Trendy'),
 ('Clara', 4, 'Trendy'),
 ('Clarence', 12, 'Trendy'),
 ('Cody', 21, 'Semi-trendy'),
 ('Cole', 13, 'Trendy'),
 ('Colin', 1, 'Trendy'),
 ('Colton', 10, 'Trendy'),
 ('Connie', 22, 'Semi-trendy'),
 ('Connor', 27, 'Semi-trendy'),
 ('Cooper', 6, 'Trendy'),
 ('Corey', 11, 'Trendy'),
 ('Cory', 5, 'Trendy'),
 ('Courtney', 21, 'Semi-trendy'),
 ('Craig', 25, 'Semi-trendy'),
 ('Crystal', 23, 'Semi-trendy'),
 ('Curtis', 9, 'Trendy'),
 ('Cynthia', 33, 'Semi-trendy'),
 ('Dakota', 6, 'Trendy'),
 ('Dale', 19, 'Trendy'),
 ('Dana', 9, 'Trendy'),
 ('Daniel', 84, 'Classic'),
 ('Danielle', 28, 'Semi-trendy'),
 ('Danny', 20, 'Trendy'),
 ('Darlene', 15, 'Trendy'),
 ('Darren', 1, 'Trendy'),
 ('Darryl', 2, 'Trendy'),
 ('David', 101, 'Classic'),
 ('Dawn', 23, 'Semi-trendy'),
 ('Debbie', 11, 'Trendy'),
 ('Deborah', 26, 'Semi-trendy'),
 ('Debra', 22, 'Semi-trendy'),
 ('Denise', 24, 'Semi-trendy'),
 ('Dennis', 35, 'Semi-trendy'),
 ('Derek', 15, 'Trendy'),
 ('Destiny', 14, 'Trendy'),
 ('Devin', 12, 'Trendy'),
 ('Diana', 23, 'Semi-trendy'),
 ('Diane', 31, 'Semi-trendy'),
 ('Diego', 7, 'Trendy'),
 ('Dillon', 1, 'Trendy'),
 ('Dolores', 12, 'Trendy'),
 ('Dominic', 12, 'Trendy'),
 ('Donald', 65, 'Semi-classic'),
 ('Donna', 45, 'Semi-trendy'),
 ('Doris', 32, 'Semi-trendy'),
 ('Dorothy', 41, 'Semi-trendy'),
 ('Douglas', 39, 'Semi-trendy'),
 ('Dustin', 16, 'Trendy'),
 ('Dylan', 30, 'Semi-trendy'),
 ('Earl', 12, 'Trendy'),
 ('Easton', 4, 'Trendy'),
 ('Edith', 8, 'Trendy'),
 ('Edna', 9, 'Trendy'),
 ('Edward', 73, 'Semi-classic'),
 ('Elaine', 17, 'Trendy'),
 ('Eleanor', 18, 'Trendy'),
 ('Eli', 11, 'Trendy'),
 ('Elias', 3, 'Trendy'),
 ('Elijah', 24, 'Semi-trendy'),
 ('Elizabeth', 101, 'Classic'),
 ('Ella', 18, 'Trendy'),
 ('Ellen', 15, 'Trendy'),
 ('Ellie', 5, 'Trendy'),
 ('Emily', 46, 'Semi-trendy'),
 ('Emma', 29, 'Semi-trendy'),
 ('Eric', 53, 'Semi-classic'),
 ('Erica', 19, 'Trendy'),
 ('Erin', 27, 'Semi-trendy'),
 ('Ernest', 8, 'Trendy'),
 ('Esther', 5, 'Trendy'),
 ('Ethan', 27, 'Semi-trendy'),
 ('Ethel', 8, 'Trendy'),
 ('Eugene', 35, 'Semi-trendy'),
 ('Evan', 27, 'Semi-trendy'),
 ('Evelyn', 35, 'Semi-trendy'),
 ('Ezekiel', 1, 'Trendy'),
 ('Ezra', 4, 'Trendy'),
 ('Faith', 5, 'Trendy'),
 ('Florence', 12, 'Trendy'),
 ('Frances', 35, 'Semi-trendy'),
 ('Francis', 10, 'Trendy'),
 ('Frank', 53, 'Semi-classic'),
 ('Franklin', 1, 'Trendy'),
 ('Fred', 29, 'Semi-trendy'),
 ('Gabriel', 27, 'Semi-trendy'),
 ('Gabriella', 9, 'Trendy'),
 ('Gabrielle', 9, 'Trendy'),
 ('Gail', 15, 'Trendy'),
 ('Garrett', 3, 'Trendy'),
 ('Gary', 45, 'Semi-trendy'),
 ('Gavin', 15, 'Trendy'),
 ('George', 62, 'Semi-classic'),
 ('Gerald', 40, 'Semi-trendy'),
 ('Geraldine', 10, 'Trendy'),
 ('Gertrude', 3, 'Trendy'),
 ('Gianna', 1, 'Trendy'),
 ('Gina', 8, 'Trendy'),
 ('Gladys', 11, 'Trendy'),
 ('Glenn', 16, 'Trendy'),
 ('Gloria', 40, 'Semi-trendy'),
 ('Grace', 31, 'Semi-trendy'),
 ('Grayson', 8, 'Trendy'),
 ('Greg', 3, 'Trendy'),
 ('Gregory', 49, 'Semi-trendy'),
 ('Hailey', 15, 'Trendy'),
 ('Haley', 14, 'Trendy'),
 ('Hannah', 32, 'Semi-trendy'),
 ('Harold', 39, 'Semi-trendy'),
 ('Harper', 9, 'Trendy'),
 ('Harry', 27, 'Semi-trendy'),
 ('Hayden', 6, 'Trendy'),
 ('Hazel', 11, 'Trendy'),
 ('Heather', 28, 'Semi-trendy'),
 ('Helen', 38, 'Semi-trendy'),
 ('Henry', 54, 'Semi-classic'),
 ('Herbert', 9, 'Trendy'),
 ('Holly', 10, 'Trendy'),
 ('Howard', 26, 'Semi-trendy'),
 ('Hudson', 7, 'Trendy'),
 ('Hunter', 26, 'Semi-trendy'),
 ('Ian', 28, 'Semi-trendy'),
 ('Irene', 13, 'Trendy'),
 ('Isaac', 24, 'Semi-trendy'),
 ('Isabella', 22, 'Semi-trendy'),
 ('Isaiah', 25, 'Semi-trendy'),
 ('Jace', 4, 'Trendy'),
 ('Jack', 63, 'Semi-classic'),
 ('Jackson', 21, 'Semi-trendy'),
 ('Jacob', 44, 'Semi-trendy'),
 ('Jacqueline', 34, 'Semi-trendy'),
 ('Jaden', 4, 'Trendy'),
 ('Jaime', 2, 'Trendy'),
 ('James', 101, 'Classic'),
 ('Jamie', 16, 'Trendy'),
 ('Jane', 27, 'Semi-trendy'),
 ('Janet', 36, 'Semi-trendy'),
 ('Janice', 30, 'Semi-trendy'),
 ('Jared', 22, 'Semi-trendy'),
 ('Jasmine', 21, 'Semi-trendy'),
 ('Jason', 49, 'Semi-trendy'),
 ('Jaxon', 9, 'Trendy'),
 ('Jaxson', 1, 'Trendy'),
 ('Jay', 4, 'Trendy'),
 ('Jayden', 18, 'Trendy'),
 ('Jean', 42, 'Semi-trendy'),
 ('Jeff', 8, 'Trendy'),
 ('Jeffery', 18, 'Trendy'),
 ('Jeffrey', 50, 'Semi-trendy'),
 ('Jenna', 11, 'Trendy'),
 ('Jennifer', 50, 'Semi-trendy'),
 ('Jeremiah', 16, 'Trendy'),
 ('Jeremy', 29, 'Semi-trendy'),
 ('Jerry', 42, 'Semi-trendy'),
 ('Jesse', 24, 'Semi-trendy'),
 ('Jessica', 37, 'Semi-trendy'),
 ('Jesus', 14, 'Trendy'),
 ('Jill', 19, 'Trendy'),
 ('Jim', 3, 'Trendy'),
 ('Jimmy', 23, 'Semi-trendy'),
 ('Jo', 13, 'Trendy'),
 ('Joan', 35, 'Semi-trendy'),
 ('Joanne', 14, 'Trendy'),
 ('Jocelyn', 1, 'Trendy'),
 ('Joe', 45, 'Semi-trendy'),
 ('John', 101, 'Classic'),
 ('Johnny', 22, 'Semi-trendy'),
 ('Jonathan', 52, 'Semi-classic'),
 ('Jordan', 47, 'Semi-trendy'),
 ('Jose', 48, 'Semi-trendy'),
 ('Joseph', 101, 'Classic'),
 ('Josephine', 10, 'Trendy'),
 ('Joshua', 49, 'Semi-trendy'),
 ('Josiah', 12, 'Trendy'),
 ('Joyce', 38, 'Semi-trendy'),
 ('Juan', 28, 'Semi-trendy'),
 ('Juanita', 4, 'Trendy'),
 ('Judith', 26, 'Semi-trendy'),
 ('Judy', 26, 'Semi-trendy'),
 ('Julia', 16, 'Trendy'),
 ('Julian', 19, 'Trendy'),
 ('Julie', 34, 'Semi-trendy'),
 ('June', 11, 'Trendy'),
 ('Justin', 40, 'Semi-trendy'),
 ('Kaitlyn', 17, 'Trendy'),
 ('Karen', 42, 'Semi-trendy'),
 ('Katelyn', 12, 'Trendy'),
 ('Katherine', 55, 'Semi-classic'),
 ('Kathleen', 33, 'Semi-trendy'),
 ('Kathryn', 31, 'Semi-trendy'),
 ('Kathy', 21, 'Semi-trendy'),
 ('Katie', 14, 'Trendy'),
 ('Kayla', 24, 'Semi-trendy'),
 ('Kaylee', 11, 'Trendy'),
 ('Keith', 36, 'Semi-trendy'),
 ('Kelly', 37, 'Semi-trendy'),
 ('Kelsey', 11, 'Trendy'),
 ('Kenneth', 76, 'Semi-classic'),
 ('Kevin', 65, 'Semi-classic'),
 ('Khloe', 1, 'Trendy'),
 ('Kim', 15, 'Trendy'),
 ('Kimberly', 47, 'Semi-trendy'),
 ('Kristen', 17, 'Trendy'),
 ('Kristin', 12, 'Trendy'),
 ('Kristina', 2, 'Trendy'),
 ('Kristy', 1, 'Trendy'),
 ('Krystal', 1, 'Trendy'),
 ('Kyle', 29, 'Semi-trendy'),
 ('Kylie', 3, 'Trendy'),
 ('Landon', 16, 'Trendy'),
 ('Larry', 41, 'Semi-trendy'),
 ('Latoya', 1, 'Trendy'),
 ('Laura', 49, 'Semi-trendy'),
 ('Lauren', 31, 'Semi-trendy'),
 ('Laurie', 11, 'Trendy'),
 ('Lawrence', 44, 'Semi-trendy'),
 ('Layla', 12, 'Trendy'),
 ('Leah', 11, 'Trendy'),
 ('Leo', 5, 'Trendy'),
 ('Leonard', 10, 'Trendy'),
 ('Leslie', 13, 'Trendy'),
 ('Levi', 12, 'Trendy'),
 ('Liam', 14, 'Trendy'),
 ('Lillian', 26, 'Semi-trendy'),
 ('Lily', 17, 'Trendy'),
 ('Lincoln', 6, 'Trendy'),
 ('Linda', 35, 'Semi-trendy'),
 ('Lindsay', 10, 'Trendy'),
 ('Lindsey', 12, 'Trendy'),
 ('Lisa', 37, 'Semi-trendy'),
 ('Logan', 27, 'Semi-trendy'),
 ('Lois', 29, 'Semi-trendy'),
 ('Lori', 22, 'Semi-trendy'),
 ('Lorraine', 5, 'Trendy'),
 ('Louis', 19, 'Trendy'),
 ('Louise', 14, 'Trendy'),
 ('Lucas', 19, 'Trendy'),
 ('Lucille', 9, 'Trendy'),
 ('Luis', 21, 'Semi-trendy'),
 ('Luke', 24, 'Semi-trendy'),
 ('Luna', 4, 'Trendy'),
 ('Lynn', 15, 'Trendy'),
 ('Mackenzie', 8, 'Trendy'),
 ('Madeline', 5, 'Trendy'),
 ('Madison', 27, 'Semi-trendy'),
 ('Makayla', 10, 'Trendy'),
 ('Marc', 1, 'Trendy'),
 ('Marcia', 3, 'Trendy'),
 ('Marcus', 10, 'Trendy'),
 ('Margaret', 50, 'Semi-trendy'),
 ('Maria', 59, 'Semi-classic'),
 ('Mariah', 3, 'Trendy'),
 ('Marie', 33, 'Semi-trendy'),
 ('Marilyn', 31, 'Semi-trendy'),
 ('Marion', 9, 'Trendy'),
 ('Marissa', 5, 'Trendy'),
 ('Marjorie', 14, 'Trendy'),
 ('Mark', 55, 'Semi-classic'),
 ('Marlene', 2, 'Trendy'),
 ('Marsha', 4, 'Trendy'),
 ('Martha', 43, 'Semi-trendy'),
 ('Martin', 10, 'Trendy'),
 ('Mary', 84, 'Classic'),
 ('Mason', 22, 'Semi-trendy'),
 ('Mateo', 6, 'Trendy'),
 ('Matthew', 64, 'Semi-classic'),
 ('Maverick', 3, 'Trendy'),
 ('Maya', 1, 'Trendy'),
 ('Megan', 29, 'Semi-trendy'),
 ('Melanie', 8, 'Trendy'),
 ('Melissa', 37, 'Semi-trendy'),
 ('Mia', 19, 'Trendy'),
 ('Michael', 85, 'Classic'),
 ('Michele', 18, 'Trendy'),
 ('Michelle', 46, 'Semi-trendy'),
 ('Mike', 11, 'Trendy'),
 ('Mila', 4, 'Trendy'),
 ('Mildred', 17, 'Trendy'),
 ('Miles', 1, 'Trendy'),
 ('Miranda', 2, 'Trendy'),
 ('Misty', 6, 'Trendy'),
 ('Mitchell', 1, 'Trendy'),
 ('Monica', 19, 'Trendy'),
 ('Morgan', 19, 'Trendy'),
 ('Nancy', 45, 'Semi-trendy'),
 ('Natalie', 37, 'Semi-trendy'),
 ('Nathan', 47, 'Semi-trendy'),
 ('Nathaniel', 17, 'Trendy'),
 ('Nevaeh', 7, 'Trendy'),
 ('Nicholas', 41, 'Semi-trendy'),
 ('Nicole', 36, 'Semi-trendy'),
 ('Noah', 25, 'Semi-trendy'),
 ('Nolan', 7, 'Trendy'),
 ('Nora', 6, 'Trendy'),
 ('Norma', 21, 'Semi-trendy'),
 ('Norman', 9, 'Trendy'),
 ('Oliver', 10, 'Trendy'),
 ('Olivia', 30, 'Semi-trendy'),
 ('Owen', 18, 'Trendy'),
 ('Paige', 9, 'Trendy'),
 ('Paisley', 1, 'Trendy'),
 ('Pamela', 31, 'Semi-trendy'),
 ('Parker', 5, 'Trendy'),
 ('Patricia', 59, 'Semi-classic'),
 ('Patrick', 57, 'Semi-classic'),
 ('Paul', 76, 'Semi-classic'),
 ('Paula', 25, 'Semi-trendy'),
 ('Pauline', 10, 'Trendy'),
 ('Peggy', 31, 'Semi-trendy'),
 ('Penelope', 7, 'Trendy'),
 ('Penny', 2, 'Trendy'),
 ('Peter', 51, 'Semi-classic'),
 ('Peyton', 1, 'Trendy'),
 ('Philip', 17, 'Trendy'),
 ('Phillip', 16, 'Trendy'),
 ('Phyllis', 36, 'Semi-trendy'),
 ('Rachel', 38, 'Semi-trendy'),
 ('Ralph', 40, 'Semi-trendy'),
 ('Randall', 14, 'Trendy'),
 ('Randy', 20, 'Trendy'),
 ('Raymond', 53, 'Semi-classic'),
 ('Rebecca', 56, 'Semi-classic'),
 ('Regina', 2, 'Trendy'),
 ('Renee', 11, 'Trendy'),
 ('Rhonda', 19, 'Trendy'),
 ('Richard', 84, 'Classic'),
 ('Rick', 1, 'Trendy'),
 ('Ricky', 13, 'Trendy'),
 ('Riley', 13, 'Trendy'),
 ('Rita', 22, 'Semi-trendy'),
 ('Robert', 99, 'Classic'),
 ('Robin', 20, 'Trendy'),
 ('Rodney', 19, 'Trendy'),
 ('Roger', 34, 'Semi-trendy'),
 ('Ronald', 53, 'Semi-classic'),
 ('Ronnie', 8, 'Trendy'),
 ('Rose', 37, 'Semi-trendy'),
 ('Roy', 37, 'Semi-trendy'),
 ('Ruby', 13, 'Trendy'),
 ('Russell', 21, 'Semi-trendy'),
 ('Ruth', 40, 'Semi-trendy'),
 ('Ryan', 50, 'Semi-trendy'),
 ('Sabrina', 2, 'Trendy'),
 ('Sally', 6, 'Trendy'),
 ('Samantha', 35, 'Semi-trendy'),
 ('Samuel', 57, 'Semi-classic'),
 ('Sandra', 40, 'Semi-trendy'),
 ('Santiago', 1, 'Trendy'),
 ('Sara', 27, 'Semi-trendy'),
 ('Sarah', 47, 'Semi-trendy'),
 ('Savannah', 22, 'Semi-trendy'),
 ('Scarlett', 8, 'Trendy'),
 ('Scott', 43, 'Semi-trendy'),
 ('Sean', 43, 'Semi-trendy'),
 ('Sebastian', 17, 'Trendy'),
 ('Seth', 6, 'Trendy'),
 ('Shane', 10, 'Trendy'),
 ('Shannon', 26, 'Semi-trendy'),
 ('Sharon', 35, 'Semi-trendy'),
 ('Shaun', 1, 'Trendy'),
 ('Shawn', 27, 'Semi-trendy'),
 ('Sheila', 22, 'Semi-trendy'),
 ('Shelby', 9, 'Trendy'),
 ('Sherri', 2, 'Trendy'),
 ('Sherry', 25, 'Semi-trendy'),
 ('Shirley', 41, 'Semi-trendy'),
 ('Sierra', 7, 'Trendy'),
 ('Skylar', 2, 'Trendy'),
 ('Sofia', 16, 'Trendy'),
 ('Sophia', 22, 'Semi-trendy'),
 ('Stacey', 11, 'Trendy'),
 ('Stacy', 13, 'Trendy'),
 ('Stanley', 17, 'Trendy'),
 ('Stella', 2, 'Trendy'),
 ('Stephanie', 45, 'Semi-trendy'),
 ('Stephen', 58, 'Semi-classic'),
 ('Steve', 15, 'Trendy'),
 ('Steven', 62, 'Semi-classic'),
 ('Sue', 2, 'Trendy'),
 ('Susan', 40, 'Semi-trendy'),
 ('Suzanne', 19, 'Trendy'),
 ('Sydney', 15, 'Trendy'),
 ('Tammy', 20, 'Trendy'),
 ('Tanya', 4, 'Trendy'),
 ('Tara', 17, 'Trendy'),
 ('Taylor', 28, 'Semi-trendy'),
 ('Teresa', 24, 'Semi-trendy'),
 ('Terri', 11, 'Trendy'),
 ('Terry', 34, 'Semi-trendy'),
 ('Thelma', 11, 'Trendy'),
 ('Theodore', 4, 'Trendy'),
 ('Theresa', 27, 'Semi-trendy'),
 ('Thomas', 101, 'Classic'),
 ('Tiffany', 26, 'Semi-trendy'),
 ('Tim', 6, 'Trendy'),
 ('Timothy', 60, 'Semi-classic'),
 ('Tina', 22, 'Semi-trendy'),
 ('Todd', 19, 'Trendy'),
 ('Tom', 1, 'Trendy'),
 ('Tony', 14, 'Trendy'),
 ('Tonya', 9, 'Trendy'),
 ('Tracey', 3, 'Trendy'),
 ('Tracy', 20, 'Trendy'),
 ('Travis', 26, 'Semi-trendy'),
 ('Trevor', 13, 'Trendy'),
 ('Trinity', 3, 'Trendy'),
 ('Tristan', 5, 'Trendy'),
 ('Troy', 12, 'Trendy'),
 ('Tyler', 33, 'Semi-trendy'),
 ('Valerie', 11, 'Trendy'),
 ('Vanessa', 19, 'Trendy'),
 ('Vicki', 14, 'Trendy'),
 ('Vickie', 8, 'Trendy'),
 ('Victoria', 43, 'Semi-trendy'),
 ('Vincent', 4, 'Trendy'),
 ('Violet', 2, 'Trendy'),
 ('Virginia', 40, 'Semi-trendy'),
 ('Walter', 44, 'Semi-trendy'),
 ('Wanda', 19, 'Trendy'),
 ('Warren', 2, 'Trendy'),
 ('Wayne', 28, 'Semi-trendy'),
 ('Wendy', 19, 'Trendy'),
 ('Whitney', 6, 'Trendy'),
 ('William', 101, 'Classic'),
 ('Willie', 41, 'Semi-trendy'),
 ('Wyatt', 16, 'Trendy'),
 ('Xavier', 9, 'Trendy'),
 ('Zachary', 33, 'Semi-trendy'),
 ('Zoe', 14, 'Trendy'),
 ('Zoey', 11, 'Trendy')]

## Task 3. Top-ranked female names since 1920Â¶

In [223]:
cur.execute(
    "SELECT "
    "RANK () OVER (ORDER BY SUM(num) DESC) AS name_rank, "
    "first_name, SUM(num) AS name_count "
    "FROM usa_baby_names "
    "WHERE sex = 'F' "
    "GROUP BY first_name "
    "ORDER BY name_rank "
    "LIMIT 10"
)

cur.fetchall()

[(1, 'Mary', 3215850),
 (2, 'Patricia', 1479802),
 (3, 'Elizabeth', 1436286),
 (4, 'Jennifer', 1404743),
 (5, 'Linda', 1361021),
 (6, 'Barbara', 1343901),
 (7, 'Susan', 1025728),
 (8, 'Jessica', 994210),
 (9, 'Lisa', 920119),
 (10, 'Betty', 893396)]

## Task 4. Picking a baby name

In [224]:
cur.execute(
    "SELECT first_name, SUM(num) "
    "FROM usa_baby_names "
    "WHERE sex = 'F' AND year >= 2015 "
    "GROUP BY first_name "
    "ORDER BY SUM(num) DESC "
)

cur.fetchall()

[('Olivia', 111888),
 ('Emma', 111330),
 ('Ava', 91242),
 ('Sophia', 89194),
 ('Isabella', 85613),
 ('Mia', 79162),
 ('Charlotte', 76653),
 ('Amelia', 70467),
 ('Abigail', 61623),
 ('Harper', 61470),
 ('Evelyn', 60481),
 ('Emily', 56360),
 ('Elizabeth', 51954),
 ('Sofia', 48989),
 ('Avery', 48448),
 ('Ella', 47407),
 ('Madison', 46567),
 ('Scarlett', 43271),
 ('Camila', 41519),
 ('Chloe', 41499),
 ('Aria', 41106),
 ('Victoria', 40955),
 ('Grace', 40740),
 ('Penelope', 38323),
 ('Layla', 38081),
 ('Zoey', 36384),
 ('Riley', 36234),
 ('Lily', 35469),
 ('Nora', 34285),
 ('Lillian', 29815),
 ('Hannah', 29633),
 ('Eleanor', 28920),
 ('Mila', 28047),
 ('Luna', 27822),
 ('Zoe', 27132),
 ('Ellie', 26266),
 ('Aubrey', 25052),
 ('Addison', 23903),
 ('Natalie', 23337),
 ('Leah', 21257),
 ('Brooklyn', 17474),
 ('Savannah', 16080),
 ('Hazel', 15932),
 ('Audrey', 10967),
 ('Violet', 10471),
 ('Skylar', 10408),
 ('Stella', 10217),
 ('Gianna', 7826),
 ('Alexa', 6052),
 ('Allison', 5352),
 ('Samantha', 5343),
 ('Claire', 5211),
 ('Aurora', 5184),
 ('Anna', 5136),
 ('Paisley', 5085)]

## Task 5. The Olivia expansion

In [225]:
cur.execute(
    "SELECT year, first_name, num, "
    "SUM(num) OVER(ORDER BY year) AS cumulative_olivias "
    "FROM usa_baby_names "
    "WHERE first_name = 'Olivia' "
    "ORDER BY year"
)

cur.fetchall()

[(1991, 'Olivia', 5601, 5601),
 (1992, 'Olivia', 5809, 11410),
 (1993, 'Olivia', 6340, 17750),
 (1994, 'Olivia', 6434, 24184),
 (1995, 'Olivia', 7624, 31808),
 (1996, 'Olivia', 8124, 39932),
 (1997, 'Olivia', 9477, 49409),
 (1998, 'Olivia', 10610, 60019),
 (1999, 'Olivia', 11255, 71274),
 (2000, 'Olivia', 12852, 84126),
 (2001, 'Olivia', 13977, 98103),
 (2002, 'Olivia', 14630, 112733),
 (2003, 'Olivia', 16152, 128885),
 (2004, 'Olivia', 16106, 144991),
 (2005, 'Olivia', 15694, 160685),
 (2006, 'Olivia', 15501, 176186),
 (2007, 'Olivia', 16584, 192770),
 (2008, 'Olivia', 17084, 209854),
 (2009, 'Olivia', 17438, 227292),
 (2010, 'Olivia', 17029, 244321),
 (2011, 'Olivia', 17327, 261648),
 (2012, 'Olivia', 17320, 278968),
 (2013, 'Olivia', 18439, 297407),
 (2014, 'Olivia', 19823, 317230),
 (2015, 'Olivia', 19710, 336940),
 (2016, 'Olivia', 19380, 356320),
 (2017, 'Olivia', 18744, 375064),
 (2018, 'Olivia', 18011, 393075),
 (2019, 'Olivia', 18508, 411583),
 (2020, 'Olivia', 17535, 429118)]

## Task 6. Many males with the same name

In [226]:
cur.execute(
    "SELECT year, MAX(num) as max_num "
    "FROM usa_baby_names "
    "WHERE sex = 'M' "
    "GROUP BY year "
    "ORDER BY year"
)

cur.fetchall()

[(1920, 56914),
 (1921, 58215),
 (1922, 57280),
 (1923, 57469),
 (1924, 60801),
 (1925, 60897),
 (1926, 61130),
 (1927, 61671),
 (1928, 60703),
 (1929, 59804),
 (1930, 62149),
 (1931, 60518),
 (1932, 59265),
 (1933, 54223),
 (1934, 55834),
 (1935, 56522),
 (1936, 58499),
 (1937, 61842),
 (1938, 62269),
 (1939, 59653),
 (1940, 62476),
 (1941, 66743),
 (1942, 77174),
 (1943, 80274),
 (1944, 76954),
 (1945, 74460),
 (1946, 87439),
 (1947, 94764),
 (1948, 88589),
 (1949, 86865),
 (1950, 86229),
 (1951, 87261),
 (1952, 87063),
 (1953, 86247),
 (1954, 88576),
 (1955, 88372),
 (1956, 90665),
 (1957, 92718),
 (1958, 90564),
 (1959, 85224),
 (1960, 85933),
 (1961, 86917),
 (1962, 85041),
 (1963, 83778),
 (1964, 82642),
 (1965, 81021),
 (1966, 79990),
 (1967, 82440),
 (1968, 81995),
 (1969, 85201),
 (1970, 85291),
 (1971, 77599),
 (1972, 71401),
 (1973, 67842),
 (1974, 67580),
 (1975, 68451),
 (1976, 66947),
 (1977, 67609),
 (1978, 67157),
 (1979, 67742),
 (1980, 68704),
 (1981, 68776),
 (1982, 68244),
 (1983, 68010),
 (1984, 67745),
 (1985, 64924),
 (1986, 64224),
 (1987, 63654),
 (1988, 64150),
 (1989, 65399),
 (1990, 65302),
 (1991, 60793),
 (1992, 54397),
 (1993, 49554),
 (1994, 44472),
 (1995, 41399),
 (1996, 38365),
 (1997, 37549),
 (1998, 36616),
 (1999, 35367),
 (2000, 34483),
 (2001, 32554),
 (2002, 30579),
 (2003, 29643),
 (2004, 27886),
 (2005, 25837),
 (2006, 24850),
 (2007, 24292),
 (2008, 22603),
 (2009, 21184),
 (2010, 22139),
 (2011, 20378),
 (2012, 19088),
 (2013, 18266),
 (2014, 19319),
 (2015, 19650),
 (2016, 19154),
 (2017, 18824),
 (2018, 19924),
 (2019, 20555),
 (2020, 19659)]

## Task 7. Top male names over the years

In [227]:
cur.execute(
    "SELECT usa_baby_names.year, first_name, num "
    "FROM usa_baby_names "
    "JOIN ("
        "SELECT year, MAX(num) as max_num "
        "FROM usa_baby_names "
        "WHERE sex = 'M' "
        "GROUP BY year "
        "ORDER BY year"
    ") ON num = max_num "
    "ORDER BY usa_baby_names.year DESC"
)

cur.fetchall()

[(2020, 'Liam', 19659),
 (2019, 'Liam', 20555),
 (2018, 'Liam', 19924),
 (2017, 'Liam', 18824),
 (2016, 'Noah', 19154),
 (2015, 'Noah', 19650),
 (2014, 'Noah', 19319),
 (2013, 'Noah', 18266),
 (2012, 'Jacob', 19088),
 (2011, 'Jacob', 20378),
 (2010, 'Jacob', 22139),
 (2009, 'Jacob', 21184),
 (2008, 'Jacob', 22603),
 (2007, 'Jacob', 24292),
 (2006, 'Jacob', 24850),
 (2005, 'Jacob', 25837),
 (2004, 'Jacob', 27886),
 (2003, 'Jacob', 29643),
 (2002, 'Jacob', 30579),
 (2002, 'Tyler', 18266),
 (2001, 'Jacob', 32554),
 (2000, 'Jacob', 34483),
 (1999, 'Jacob', 35367),
 (1998, 'Michael', 36616),
 (1997, 'Michael', 37549),
 (1996, 'Michael', 38365),
 (1995, 'Michael', 41399),
 (1994, 'Michael', 44472),
 (1993, 'Michael', 49554),
 (1992, 'Michael', 54397),
 (1991, 'Michael', 60793),
 (1990, 'Michael', 65302),
 (1989, 'Michael', 65399),
 (1988, 'Michael', 64150),
 (1987, 'Michael', 63654),
 (1986, 'Michael', 64224),
 (1985, 'Michael', 64924),
 (1984, 'Michael', 67745),
 (1983, 'Michael', 68010),
 (1982, 'Michael', 68244),
 (1981, 'Jonathan', 22603),
 (1981, 'Michael', 68776),
 (1980, 'Timothy', 19154),
 (1980, 'Michael', 68704),
 (1979, 'Michael', 67742),
 (1978, 'Michael', 67157),
 (1977, 'Michael', 67609),
 (1976, 'Michael', 66947),
 (1975, 'Michael', 68451),
 (1974, 'Michael', 67580),
 (1973, 'Michael', 67842),
 (1972, 'Michael', 71401),
 (1971, 'Michael', 77599),
 (1970, 'Michael', 85291),
 (1969, 'Michael', 85201),
 (1968, 'Michael', 81995),
 (1967, 'Michael', 82440),
 (1966, 'Michael', 79990),
 (1965, 'Michael', 81021),
 (1965, 'David', 67842),
 (1964, 'Michael', 82642),
 (1963, 'Michael', 83778),
 (1962, 'Michael', 85041),
 (1961, 'Michael', 86917),
 (1960, 'David', 85933),
 (1959, 'Michael', 85224),
 (1958, 'Michael', 90564),
 (1957, 'Michael', 92718),
 (1956, 'Michael', 90665),
 (1955, 'Michael', 88372),
 (1954, 'Michael', 88576),
 (1953, 'Robert', 86247),
 (1952, 'James', 87063),
 (1951, 'James', 87261),
 (1950, 'James', 86229),
 (1949, 'James', 86865),
 (1948, 'James', 88589),
 (1947, 'James', 94764),
 (1946, 'James', 87439),
 (1945, 'James', 74460),
 (1944, 'James', 76954),
 (1943, 'James', 80274),
 (1942, 'James', 77174),
 (1941, 'James', 66743),
 (1940, 'James', 62476),
 (1939, 'Robert', 59653),
 (1938, 'Robert', 62269),
 (1937, 'Robert', 61842),
 (1936, 'Robert', 58499),
 (1935, 'Robert', 56522),
 (1934, 'Robert', 55834),
 (1933, 'Robert', 54223),
 (1932, 'Robert', 59265),
 (1931, 'Robert', 60518),
 (1930, 'Robert', 62149),
 (1929, 'Robert', 59804),
 (1928, 'Robert', 60703),
 (1927, 'Robert', 61671),
 (1926, 'Robert', 61130),
 (1925, 'Robert', 60897),
 (1924, 'Robert', 60801),
 (1923, 'John', 57469),
 (1922, 'John', 57280),
 (1921, 'John', 58215),
 (1920, 'John', 56914)]

## Task 8. The most years at number one

In [228]:
cur.execute(
    "SELECT first_name, COUNT(*) "
    "FROM ("
        "SELECT usa_baby_names.year, first_name, num "
        "FROM usa_baby_names "
        "JOIN ("
            "SELECT year, MAX(num) as max_num "
            "FROM usa_baby_names "
            "WHERE sex = 'M' "
            "GROUP BY year "
            "ORDER BY year"
        ") ON num = max_num "
        "ORDER BY usa_baby_names.year DESC"
    ") "
    "GROUP BY first_name "
    "ORDER BY COUNT(*) DESC "
)

cur.fetchall()

[('Michael', 44),
 ('Robert', 17),
 ('Jacob', 14),
 ('James', 13),
 ('Noah', 4),
 ('John', 4),
 ('Liam', 4),
 ('David', 2),
 ('Tyler', 1),
 ('Jonathan', 1),
 ('Timothy', 1)]

In [229]:
cur.close()
conn.close()